@model IEnumerable<Final_OOP_PROJECT.Models.Gamers>

@{
    ViewBag.Title = "CatalogAdmin";
}

<h2>CatalogAdmin</h2>

<p>
    @Html.ActionLink("Create New", "CreateGame", "Games")
    @Html.ActionLink("Manage Users", "Admin", "LoginExistent")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Denumire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pret)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataLansare)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Denumire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pret)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descriere)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataLansare)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdGame }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdGame })
        </td>
    </tr>
}

</table>
